<footer role="contentinfo" style="padding-left: 18px;padding-right: 18px;">
        <div class="container section-footer" style="text-align:center;padding-top: 25px;padding-bottom: 20px; margin-top:5px; max-width:100%;">
              <div class=row>
                 <div class="col-md-4">
                   <center>  
                    <a href="https://fossee.in/"><img  style="background:white; width:150px"src="{{directory}}/image/fossee-logo.png"></a>
                   </center>
                  </div>
                  <div class="col-md-4">
                   <center>  
                    <a href="http://www.sakshat.ac.in/"><img src="{{directory}}/image/NMEICT.png" style="width:150px;background:white;height: 58px;"></a>
                   </center>
                  </div>
                  <div class="col-md-4">
                   <center>  
                    <a href="https://iitb.ac.in/"><img style="background:white; width:60px" src="{{directory}}/image/iitb-logo.png"></a>
                   </center>
                  </div> 
                </div>  
             <div class="row" style="padding-top: 20px;margin-bottom: 20px;border-bottom-width: 0px;"> 
             <p><center>
                   This work is licensed under a   <a target="_blank" href='https://creativecommons.org/licenses/by-sa/4.0/'>  Creative Commons Attribution-ShareAlike 4.0 International License</a>
                </center></p>
             <center><a target="_blank" href='https://creativecommons.org/licenses/by-sa/4.0/'/><img src="{{directory}}/image/img1.png" ></center></a>
             </div> 
         </div>            

</footer>
